{% extends 'base.html.twig' %}

{% block body %}
    <h1>Toto</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ toto.id }}</td>
            </tr>
            <tr>
                <th>Token</th>
                <td>{{ toto.token }}</td>
            </tr>
            <tr>
                <th>Player</th>
                <td>{{ toto.player }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if toto.createdAt %}{{ toto.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if toto.updatedAt %}{{ toto.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    {% set table_entries = toto.entries %}
    {% include 'toto/blocks/toto_table.html.twig' %}

    <ul>
        <li>
            <a href="{{ path('admin_toto_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_toto_edit', { 'id': toto.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
